@import './Navbar.css';
@import './Home.css';
@import './CreateGameCouch.css';

/* Add any Base styles here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1b2838;
  color: #b1b2b5;
}
